@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#mainHome {
  background-image: linear-gradient(
      rgba(27, 28, 54, 0.96),
      rgba(27, 28, 54, 0.96)
    ),
    url("https://cdn.prod.website-files.com/622f8ac66d5acb59da6f74ec/6239df4bc9cf700196acc1f2_GONANO_ICON.svg");
  background-position: 0 0, 0% 50%;
}
